@import '../globalStyles.module.scss';

.main {
  padding: 2%;
  background-color: $primary-color;

  & > p {
    margin: 50px;
    color: $secondary-color;
    font-family: $primary-font;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 425px) {
  .main {
    padding-top: 50px;

    & > p {
      font-size: 30px;
    }
  }
}