@import '../../pages/globalStyles.module.scss';

.container {
  padding: 10px;
  width: 168px;
  height: 323px;
  img {
    // object-fit: cover;
    border-radius: 5px 5px 0 0;
    width: 170px;
    height: 260px;
  }
}

.infoBook {
  color: $white-color;
  h3 {
    // padding-right: 10px;
    text-align: end;
  }
  p {
    // padding-right: 10px;
    text-align: end;
  }
}
