.login {
  height: 50vh;
  width: 99vw;
  margin: 0;
  background: url('https://images.pexels.com/photos/1319855/pexels-photo-1319855.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  
  &__main {
    height: 80%;
    width: 25%;
    padding: 5px;
    background-color: #fffffe;
    border-radius: 10%;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    right: 130px;
      
    & > h1 {
      margin: 0;
      width: 100%;
      font-size: 15px;
      text-align: center;
    }

    & > input {
      height: 25px;
      width: 80%;
      border-radius: 2px;
      border-style: solid;
      align-self: center;
    }

    & > div {
      width: 80%;
      align-self: center;
      display: flex;
      justify-content: space-between;

      & > a {
        width: 30%;
        font-size: 10px;
        text-align: center;
      }
      
      & > button {
        width: 45%;
        text-transform: uppercase;
      }
    }
    
  }
}