@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&family=Roboto:ital,wght@0,300;0,500;1,300&display=swap');

/* Global Variables */
$background-color: #0C0C0D;
$background-color2: #1C1C24;
$font-color: #94a1b2;
$primary-color: #16161a;
$secondary-color: #7f5af0;
$alternative-color: #2cb67d;
$white-color: #fffffe;
$orange-color: #FFA41C;
$grey-color1: #33333a;

$primary-font: 'Inter', sans-serif;
$secondary-font: 'Roboto', sans-serif;