@import './globalStyles.module.scss';

.main {
  background-color: $primary-color;
  min-height: calc(100vh - 140px);
}

.container {
  max-width: 1128px;
  margin: 0 auto;
}

.search {
  display: flex;
  // justify-content: center;
}

.cardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.h1 {
  font-size: 2rem;
  color: $secondary-color;
  padding-left: 10px;
  margin-bottom: 15px;
}

.reviewList {
  color: $secondary-color;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 25px;
}
