@import '../../pages/globalStyles.module.scss';

/* USER */
.userProfile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: auto;
  align-items: center;
  background-color: $background-color2;
}
.userProfile__containerImg {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 100px;
  margin: 10px 0;
}
.userProfile__img {
  width: inherit;
  object-fit: cover;
}
.userProfile__name {
  font-family: $primary-font;
  font-size: 30px;
  color: $gray-13-color;
  margin-bottom: 30px;
}
.button__editProfile {
  display: inline-block;
  color: $white-color;
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: normal;
  background: $secondary-color;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 20px;
  border: none;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 30px;
}