@import '../../pages/globalStyles.module.scss';

.myReview {
  margin-bottom: 40px;
}
.myReview__text {
  font-size: 12px;
  font-family: $secondary-font;
  color: $gray-13-color;
  margin: 10px 0;
}
.myReview__seeMore {
  font-size: 0.75em;
  color: $secondary-color;
  text-decoration: none;
  margin: 10px 0;
}

.myReview__trash-edit {
  display: flex;
  margin-top: 10px;
}